@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Drew's Gardner Business Media Project</h1>
    <p> Drew Battison's First ASP .NET C# MVC Project</p>
    <br />

    <ul class="text-left">
        <li> I removed all Foreign Keys from the Prototype to make adding blogs easier </li>
        <li> I created an Aliases table to create a link between Blogs and Authors </li>
        <li> Blogs.Alias --> Alias.AliasName; Alias.FirstName, Alias.LastName --> Author.FirstName, Author.LastName</li>
        <li> Rather than having duplicate blogs for each Author, Authors can share an Alias for the same blog </li>
        <li> You can view all of the database tables in the toolbar at the top and can create, edit, view, and delete tuples </li>
        <li> I would have liked to have a more "Advanced" Design, though I had to spend most of my time downloading necessities</li>
        <li> It would be nice to keep in mind that this was made in basically a day. I didn't have the change to properly start until around 8:00pm on Wednesday and then I had from then Until Thursday night to learn Visual Studio and the entire ASP .NET MVC'</li>
        <li> Thank you for your time and considering! </li>
    </ul>

    <br />
    <br />
    <p class="text-left" style="margin-left: 2.5em"> ~ Drew Battison</p>
</div>
